:root {
  --game-width: 10;
  --game-depth: 20;
  --display-width: 5;
  --display-depth: 6;
  --game-ratio: calc(var(--game-width) / var(--game-depth));
  --display-ratio: calc(var(--display-width) / var(--display-depth));
}

body {
  width: auto;
  height: 600px;
  background-image: url("./Images/russia.jpg");
  background-color: #2f2d5d;
  background-size: cover cover;
  background-repeat: no-repeat;
  background-position: top top;
  background-color: none;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  justify-content: center;
}

.sub-container {
  background-image: none;
  height: 100%;
  aspect-ratio: var(--display-width) / var(--game-depth);
  display: block;
  padding-left: 1em;
}

.uper-grid {
  background-image: none;
  height: 100%;
  aspect-ratio: var(--game-width) / var(--game-depth);
  display: block;
  padding-left: 1em;
  margin-bottom: 16px;
}

.grid {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  outline: solid transparent;
  outline-color: rgba(255, 255, 255, 0.5);
}

.grid div {
  width: calc(100% / var(--game-width));
  aspect-ratio: 1 / 1;
}

.tetromino {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20%;
  outline: solid;
  outline-color: rgba(0, 0, 0, 0.2);
}

.mini-grid {
  width: 100%;
  aspect-ratio: var(--display-ratio);
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  outline: solid transparent;
  outline-color: rgba(255, 255, 255, 0.5);
}

.mini-grid div {
  width: calc(100% / var(--display-width));
  aspect-ratio: 1 / 1;
}

.data {
  background-color: #bea903;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.button-19 {
  appearance: button;
  background-color: #1fa812;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #ffffff49;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.directional-buttons {
  background-image: none;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  width: 16rem;
  height: 16rem;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 45fr 60fr 45fr;
  grid-template-rows: 45fr 60fr 45fr;
  grid-template-areas:
    "....  up  ....."
    "left  ..  right"
    ".... down .....";
}

.direction-button {
  color: rgb(65, 9, 156);
  background: currentcolor;
  border: none;
  position: relative;
}

.direction-button:before {
  display: block;
  content: "";
  position: absolute;
  width: 4.25rem;
  height: 4.25rem;
  transform: rotate(45deg);
  background: currentcolor;
}

.direction-button:after {
  display: block;
  content: "";
  position: absolute;
  border: 2rem solid transparent;
  color: rgba(255, 250, 250, 0.6);
}

.direction-button:hover {
  color: rgb(86, 7, 160);
}

.direction-button:active:after {
  color: rgb(167, 124, 236);
}

.up {
  grid-area: up;
  border-radius: 0.5rem 0.5rem 0 0;
}
.up:before {
  left: calc(50% - 2.125rem);
  bottom: -2.125rem;
}
.up:after {
  border-bottom-color: currentcolor;
  left: calc(50% - 2rem);
  top: -1rem;
}

.left {
  grid-area: left;
  border-radius: 0.5rem 0 0 0.5rem;
}
.left:before {
  right: -2.125rem;
  top: calc(50% - 2.125rem);
}
.left:after {
  border-right-color: currentcolor;
  top: calc(50% - 2rem);
  left: -1rem;
}

.right {
  grid-area: right;
  border-radius: 0 0.5rem 0.5rem 0;
}
.right:before {
  left: -2.125rem;
  top: calc(50% - 2.125rem);
}
.right:after {
  border-left-color: currentcolor;
  top: calc(50% - 2rem);
  right: -1rem;
}

.down {
  grid-area: down;
  border-radius: 0 0 0.5rem 0.5rem;
}
.down:before {
  left: calc(50% - 2.125rem);
  top: -2.125rem;
}
.down:after {
  border-top-color: currentcolor;
  left: calc(50% - 2rem);
  bottom: -1rem;
}

.mode-container {
  background-color: #7303be;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  height: 100%;
  margin-left: 16px;
}

.mode {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.mode input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.mode:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.mode input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.mode input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.mode .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.not-to-see {
  visibility: hidden;
}
